{% extends "_base_article_content.html" %}
{% block page %}pages-list{% endblock page%}
{% block title %}{{ section.title }}{% endblock title %}

{% block article_content %}
  {% set display_page_subtitle = true %}
  {% if section.extra.categorized_by %}
    {% set term = get_taxonomy_term(kind="tags", term=section.extra.categorized_by) %}
    {% set pages = term.pages | sort(attribute="date") | reverse %}
    {% set category_term = "category" %}
    {% if section.extra.category_term %}
      {% set category_term = section.extra.category_term %}
    {% endif %}
    {% for category, pages in pages | group_by(attribute="extra." ~ category_term) %}
      <section>
      <h1>{{ category }}</h1>
      {% include "_page_list.html" %}
      </section>
    {% endfor %}
  {% else %}
    <h1>{{ section.title }}</h1>
    {% set pages = section.pages %}
    {% include "_page_list.html" %}
  {% endif %}
{% endblock article_content %}
